.textContainer{
height: 175px;
display: flex;
justify-content: center;
align-items: center;



}

.textContainer h2{
font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 67px;
/* text-align: center; */
color: #1B3C74;
}



.serviceContained{
height: 377px;
}

.serviceCard{
width: 270px;
height:180px;
padding: 22px 70px 22px 70px;
border-radius: 10px 0px 0px 0px;
background: #FFFFFF;
box-shadow: 0px 34px 44px 0px #D5DBE470;


}

.serviceImg{
    width:138px;
height: 127px;
gap: 20px;

}

.serviceBtn{
    
 width: 147px;
height: 50px;
border-radius: 8px;
background: #2AA8FF;


}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}