.drCard{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    
}

.drImg{
    width: 350px;
height: 414px;
border-radius: 250px 250px 8px 8px;

}

.drText{
width: 370px;
height: 75px;
padding: 0px 62.94px 0px 64.06px;

}

.drName{
    width: 243px;
height: 48px;
font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 48px;
text-align: center;
color: #1B3C74;
margin: 0px !important;
}

.drSubText{
width: 93px;
height: 27px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 27px;
text-align: center;
color: #2AA7FF;
margin-bottom: 40px;
}